@import "@/assets/utils/index.scss";

@mixin darkTheme {
    background-color: $gg-black-1;
    color: $gg-white-1;
}

@mixin lightTheme {
    color: $gg-blue-dark-1;
    background-color: $gg-white-2;
}
