@import "@/assets/utils/index.scss";

@mixin darkTheme {
    background-color: $gg-black-1;
    color: $gg-white-1;

    input {
        background-color: $gg-blue-dark-2;
        color: $gg-white-1;
    }

    .link-buttom {
        figure {
            background: $gg-blue-dark-2;
        }
    }

    .project-card {
        background: $gg-blue-dark-2;

        img {
            filter: none !important;
        }
    }
}

@mixin lightTheme {
    color: $gg-blue-dark-1;
    background-color: $gg-white-2;
}
