// SIZES OF ELEMENTS
$gg-nav-height: 70px;

// REMS SIZES
$gg-s1: 1rem;
$gg-s2: 2rem;

// COLORS
$gg-black-1: #202020;
$gg-blue-dark-1: #000000;
$gg-white-1: #ebf4f1;
$gg-white-2: #f3f3f3;
$gg-blue-ocean-1: #00abfb;
